:host {
    display: block;
    width: 100%;
  }
  
  mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #3f51b5;
    --mat-toolbar-container-text-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .search-bar {
    margin-top: 20px;
    margin-left: 16px;
    color: aliceblue;
    width: 300px;
  }

  .search-input{
    color: white
  }