<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isExpanded" [mode]="isMobile? 'over': 'side'" class="sidenav">
      <mat-toolbar color="primary">
        Categories & Tags
        <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.close()" *ngIf="isMobile">
        <mat-icon>close</mat-icon>
      </button>
      </mat-toolbar>
  
      <mat-list>
        <h3>Categories</h3>
        <mat-list-item 
        *ngFor="let category of categories" 
        (click)="toggleCategory(category.id)"
        [class.selected]="selectedCategories.includes(category.id)"
        >
        <div class="cat-name">
        <mat-icon>{{ selectedCategories.includes(category.id) ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
        {{ category.name }} </div>
        </mat-list-item>
      </mat-list>
  
      <mat-list>
        <h3>Tags</h3>
        <mat-list-item *ngFor="let tag of tags" 
        (click)="toggleTag(tag.id)"
        [class.selected]="selectedTags.includes(tag.id)"
        >
        <div class="tag-name">
        <mat-icon>{{ selectedTags.includes(tag.id) ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
          {{ tag.name }}
        </div>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>
  