<div class="app-container">
<app-nav />

<div class="content">
<app-sidebar class="sidebar"></app-sidebar>

<div class="post-container">
  
<div *ngFor="let post of filteredPosts">
    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>
          By {{ post.creator_name }} | {{ post.created_at | date: 'medium' }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="post.safeContent"></p>
        <p><strong>Category:</strong> {{ post.categories }}</p>
        <p><strong>Tags:</strong> {{ post.tags }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>
  