.login-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .full-width {
    width: 100%;
  }
  .register-link{
    margin-top: 15px;
  }
  .login-title{
    padding: 20px;
  }

  .login-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .error-message {
    color: red;
    margin-bottom: 16px;
    text-align: center;
  }