<p>post-list works!</p>
<div class="app-container">
    <app-nav />
    <div class="container">
          <ngx-datatable
            class="material bordered"
            [rows]="posts"
            [columnMode]="'force'"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [footerHeight]="100"
            [loadingIndicator]="loading"
            [limit]="limit"
            [count]="totalElements"
            [offset]="page"
            (page)="setPage($event)"
          >
          <ngx-datatable-column
          name="ID" 
          >
        </ngx-datatable-column>
        <ngx-datatable-column name="Title" prop="title"/>
        <ngx-datatable-column name="Operations">
          <ng-template 
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row">

          <!-- Edit Button -->
          <button mat-raised-button color="primary" (click)="navigateToEditPost(row.id)" class="edit-button">
            <mat-icon>edit</mat-icon>
            Edit
          </button>

          <!-- Delete Button -->
          <button mat-raised-button color="warn" (click)="deletePost(row.id)" class="delete-button">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
          
        </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          >
          
        <div class="datatable-footer">

           <!-- Total Count Indicator -->
      <div style="padding: 5px 10px 5px 25px;">
        <div>
          {{ totalElements }} Total
        </div>
      </div>

          <span>Rows per page:</span>
          <select [(ngModel)]="limit" class="limit-selector" (change)="onLimitChange()">
            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
          </select>

        <div class="pagination">
          <button mat-icon-button (click)="prevPage()" [disabled]="page<=1">
            <mat-icon>arrow_left</mat-icon>          
          </button>

          <span>Page {{page}} of {{totalPages()}}</span>

          <button mat-icon-button (click)="nextPage()" [disabled]="page >= totalPages()">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        
          <!-- <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="page-1"
            [size]="limit"
            [count]="totalElements"
            (click)="setPage($event)"
            >
          </datatable-pager> -->
        </div>
      </ng-template>
    </ngx-datatable-footer>
          </ngx-datatable>
          
    </div>
    </div>